In [48]:
import numpy as np
import pandas as pd

In [49]:
def VeG(list1, list2):
  print(f'{list1[0]}-------{list1[1]}')
  for i in range(4):
    print('  '*i,'\\')
  print(f'{list1[2]}-------{list1[3]}')

In [50]:
VeG(('H',"u","n",'g'),())

H-------u
 \
   \
     \
       \
n-------g

In [51]:
def veCheoPhaiTrai():
    j = 1
    for i in reversed(range(1,4)):
        df[i][j] = "/"
        j +=1

In [52]:
def veCheoTraiPhai():
    for i in reversed(range(1,4)):
        df[i][i] = "\\"

In [53]:
def veNgangTren():
    for i in range(1,4):
        df[i][0] = '-'
veNgangTren()
def veNgangDuoi():
    for i in range(1,4):
        df[i][4] = '-'
veNgangDuoi()

In [54]:
def veDuongThangXuongTrai():
      for i in range(1,4):
        df[0][i] = "|"
def veDuongThangXuongPhai():
    for i in range(1,4):
        df[4][i] = "|"
veDuongThangXuongPhai()

In [55]:
a = np.zeros( (5, 5) )
a

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [56]:
a

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [57]:
df = pd.DataFrame(data=A)
df

     0    1    2    3    4
0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0

In [58]:
df[0][0] = "A"
df[4][0] = "B"
df[4][4] = "C"
df[0][4] = "D"

<ipython-input-58-35ed3911a94c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[4][0] = "B"
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-58-35ed3911a94c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[4][4] = "C"
<ipython-input-58-35ed3911a94c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[0][4] = "D"

In [59]:
df

   0    1    2    3  4
0  A  0.0  0.0  0.0  B
1  0  0.0  0.0  0.0  0
2  0  0.0  0.0  0.0  0
3  0  0.0  0.0  0.0  0
4  D  0.0  0.0  0.0  C

In [60]:
lien_ket = {("A","B"),("B","C"),("C","D"),("B","D"),("D","D")}
lien_ket

{('A', 'B'), ('B', 'C'), ('B', 'D'), ('C', 'D'), ('D', 'D')}

In [61]:
if ("A","C") in lien_ket:
    veCheoTraiPhai()
if ("A","B") in lien_ket:
    veNgangTren()
if ("B","C") in lien_ket:
    veDuongThangXuongPhai()
if ("C","D") in lien_ket:
    veNgangDuoi()
if ("B","D") in lien_ket:
    veCheoPhaiTrai()
if ("A","D") in lien_ket:
    veDuongThangXuongTrai()
if ("A","C") in lien_ket:
    veCheoTraiPhai()

<ipython-input-53-6480e40bd83d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][0] = '-'
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [62]:

df

   0  1  2  3  4
0  A  -  -  -  B
1  0  0  0  /  |
2  0  0  /  0  |
3  0  /  0  0  |
4  D  -  -  -  C